{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Contenido del Carrito -->

<div class="container mx-auto mt-8">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="px-6 py-4">
            <h2 class="text-2xl font-bold mb-4">Tu Carrito de Compras</h2>
            
            <!-- Lista de ítems del carrito -->
            <ul>
                {% for item in cart.cartitem_set.all %}
                <li class="flex justify-between items-center border-b py-2">
                    <div class="flex items-center space-x-4">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="h-20 w-20 object-cover">
                        <div>
                            <h3 class="font-bold">{{ item.product.name }}</h3>
                            <p class="text-gray-600">Precio unitario: ${{ item.product.price }}</p>
                        </div>
                    </div>
                    <div>
                        <form action="{% url 'adjust_cart' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" required>
                            <button type="submit">Actualizar</button>
                        </form>
                        <a href="{% url 'remove_from_cart' item.product.id %}" class="text-red-500 hover:text-red-700 focus:outline-none">Eliminar</a>
                    </div>
                </li>
                {% empty %}
                <li class="py-4 text-center text-gray-500">Tu carrito está vacío.</li>
                {% endfor %}
            </ul>
            
            <!-- Total del carrito -->
            <div class="mt-8 text-right">
                <p id="cart-total" class="text-lg font-semibold">Total: ${{ cart.total }}</p>
            </div>
        </div>
        
        <!-- Botón para continuar comprando -->
        <div class="px-6 py-4 bg-gray-100 border-t">
            <a href="{% url 'products' %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:text-black-600">Seguir Comprando</a>
        </div>
    </div>
</div>


{% endblock %}

